<% content_for :header_tags do %>
    <%= stylesheet_link_tag "comfort_calendar.css", :media => "screen", :plugin => 'comfort_calendar'%>
    <%= javascript_include_tag "comfort_calendar.js", :plugin => 'comfort_calendar'%>
<% end %>

<h2>Настройка количества ресурсов</h2>


Задать значение
  <input type="number" value="6" id="def_value">
  <button id="fill_all_days">на все дни</button>
  или
  <button id="fill_all_weekdays">на все рабочие дни</button>
  или
<div>
  <button class="fill_one_day_of_week" data-week-day-number="1">на все понедельинки</button>
  <button class="fill_one_day_of_week" data-week-day-number="2">на все вторники</button>
  <button class="fill_one_day_of_week" data-week-day-number="3">на все среды</button>
  <button class="fill_one_day_of_week" data-week-day-number="4">на все четверги</button>
  <button class="fill_one_day_of_week" data-week-day-number="5">на все пятницы</button>
  <button class="fill_one_day_of_week" data-week-day-number="6">на все субботы</button>
  <button class="fill_one_day_of_week" data-week-day-number="0">на все воскрсенья</button>
</div>

<%= form_tag(controller: 'comfort_resources', action: 'update', method: 'post') do %>
<%= hidden_field_tag(:project_id, @project.identifier) %>
<table class="resources-edit">
  <thead>
    <tr>
      <% 7.times do |i| %>
          <th scope="col">
            <%= day_name( i+1 ) %>
          </th>
      <% end %>

    </tr>
  </thead>
  <tbody>
    <% start_output_day = @start_date.at_beginning_of_week
    day = start_output_day%>
    <% end_output_day = @end_date.at_end_of_week %>

    <tr>

    <% while day <= end_output_day %>
    <td class="<%= (day >= @current_date) ? '' : 'past-day'%>">
      <span class="date-label"><%= I18n::l(day) %></span>
      <% if day >= @start_date && day <= @end_date %>
          <% if day >= @current_date %>
              <input name="resources['<%= day %>']" type="number" value="<%= @resources[day]||0 %>"
              data-weekend-data="<%= (day.sunday? || day.saturday?) %>"
              data-weekday="<%= day.wday %>">
          <% else %>
              <%= @resources[day] %>
          <% end %>

      <% end %>
    </td>

    <% if day.sunday? %>
      </tr><tr>
    <% end %>

    <% day = day+1.day
      end %>
    </tr>
  </tbody>
</table>
<%= submit_tag('Сохранить') %>
<% end %>


